<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="uppercase ml-2">Salas |</span>
      <span class="ml-4">rodolfosalas.dev</span>
    </a>
    <button
      class="mr-4"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbarRight"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        fill="currentColor"
        class="bi bi-circle"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
      </svg>
    </button>

    <!-- menu -->
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="is-active">
              <div class="flex flex-row hover:text-slate-300">
                  <i class="bi bi-house flex align-top" style="font-size: 20px;"></i>
                <span class="ml-2 ">| Home</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{URL.github}}">
              <div class="flex flex-row hover:text-slate-300">
                <i class="bi bi-github flex align-top" style="font-size: 20px;"></i>
                <span class="ml-2 hover:text-slate-300">| GitHub</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{URL.linkedin}}">
              <div class="flex flex-row hover:text-slate-300">
                <i class="bi bi-linkedin flex align-top" style="font-size: 20px;"></i>
                <span class="ml-2 hover:text-slate-300">| LinkedIn</span>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/messenger" routerLinkActive="is-active">
              <div class="flex flex-row hover:text-slate-300">
                <i class="bi bi-card-text flex align-top" style="font-size: 20px;"></i>
                <span class="ml-2 hover:text-slate-300">| Messenger</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- login -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbarRight"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Login</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
