<div class="flex justify-center w-full mb-8">
    <div class="w-9/12">
        <div class="text-xl font-bold">Notes</div>

    </div>

</div>
<div class="flex justify-center w-full">
    <div class="card w-9/12">
      <div class="card-body">
        <h5 class="card-title">Faça aqui suas anotações!</h5>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="mt-8">
            <div class="mb-3">
                <label for="inputTitleNote" class="form-label">Título</label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="inputTitleNote"
                    formControlName="titleNote"
                >
              </div>
              <div class="mb-3">
                <label for="inputNote" class="form-label">Nota</label>
                <textarea 
                    class="form-control" 
                    id="inputNote" 
                    rows="3"
                    formControlName="note"
                ></textarea>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Send</button>
        </form>
      </div>
    </div>
</div>